
build/.vs/asteroids/v15/.suo
build/.vs/asteroids/v15/Browse.VC.db
build/.vs/asteroids/v15/ipch/AutoPCH/5c9e1c40533892a5/WIN32_ASTEROIDS.ipch
build/asteroids.exe
build/asteroids.ilk
build/asteroids.pdb
build/high_scores.txt
build/vc140.pdb
build/win32_asteroids.obj
